#allContent {
  width: 70%;
  height: 100%;
  margin: 20px auto;
}

header {
  margin-bottom: 10px;
  background: url(https://i.pinimg.com/564x/b7/6b/ad/b76bad9cfc1b870cd9da11fe248f896b.jpg) left;

}

#photoLabel {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

#Navbar {
  width: 20%;
  height: 1000px;
  background: rgb(192 255 191 / 23%);
  float: left;
  margin: 0;
  background-image: url(https://i.pinimg.com/564x/07/b1/5a/07b15a170456b7da647208e8011c64f9.jpg);
  background-position: top;
  margin-right: 10px;
}

#navbarLink {
  list-style-type: none;
  padding-inline-start: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}


#navbarLink li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
}

#navbarLink li:nth-child(5) {
  margin-top: 30px;
}

#navbarLink a:hover {
  color:rgb(248, 255, 108);
  text-shadow: 1px 1px 20px rgb(255, 0, 0), 0 0 1em rgb(255, 255, 0);
}

#MainContent {
  display: flex;
  flex-wrap: wrap;
}

#photoCity {
  width: 100%;
  height: 230px;
}

#myPhoto {
  margin: 10px 30px 0 0;
  height: 150px;
}

#myData {
  margin-top: 10px;
}

#myData h2 {
  Font-family: Multiround;
  margin-block-end: 0;
}

.post {
  display: flex;
  align-items: center;
  margin: 30px 0 30px 0;
}

.post p {
  margin-left: 40px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.post img {
  width: 100px;
  height: 100px;
  margin: 0;
}

.likes {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.likes img {
  width: 25px;
  height: 25px;
  margin: 0;
  cursor: pointer;
}

/*............................................DIALOGS............................................*/

#dialogs {
  display: flex;
}

#name {
  font-size: 25px;
  margin: 0;
}

#name li {
  margin-bottom: 50px;
}

#name a {
  cursor: pointer;
  text-decoration: none;
}

#name p {
  margin-block-start: 0;
  margin-bottom: 40px;
}

#verticalLine {
  border-left: 2px solid red;
  margin: 0 70px 0 30px;
}

#allSmilies {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
}

#allSmilies img {
  margin-top: 30px;
}
